{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{decks.img}}" alt="{{decks.name}}" />
</div>
<div class="detail__name">
   
    <h1 class="title">{{decks.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <div class="buttons">
    <!-- just like how we added the artist detail link we can do the same thing for update -->
    <a href="{% url 'deck_update' decks.pk %}" class="button is-info" style="background-color:rgb(65, 65, 65) ">
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
    </a>
    <a href="{% url 'deck_delete' decks.pk %}" class="button is-danger" style="background-color: crimson;">
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
</div>
    <div class="detail__about">
        <h4 class="title is-4">Primer</h4>
        <p style="font-size: x-large;">{{decks.bio}}</p>
    </div>
</div>

{% endblock %}
